.btn-primary.override-bs{
  border-radius: 20px;
}

.form-rounded {
  border-radius: 20px;
}
.wd-search-tuiter {
  bottom: 7px;
  left: 20px;
}

.wd-nav-tabs {
  color: rgb(29,161,242);
}

.wd-nav-tabs li {
  list-style-type: none;
  display: inline-block;
}

.wd-nav-tabs .wd-selected {
  border-bottom: solid 4px rgb(29,161,242);
}
.bottom-left {
  position: relative;
  bottom: 53px;
  left: 16px;
}

.search-background-color {
  background-color: gray;
}

.border-line {
  border-left: solid 1px gray;
  border-right: solid 1px gray;
}

.rounded-top-20 {
  border-top-right-radius: 20px!important;
  border-top-left-radius: 20px!important;
}

.rounded-bottom-20 {
  border-bottom-left-radius: 20px!important;
  border-bottom-right-radius: 20px!important;
}
